{% set contributionType = {
	'-1': "Suppression",
	0: "Ajout",
	1: 'Modification',
	2: "Vote",
	3: "Signalement",
	4: "Import",
	5: "Restauration",
	6: "Resolution modération"
	}
%}

{% set elementStatus = {
	'' : 'En attente',
	'-6': "Doublon",
	'-5': "modified pending",
	'-4': 'Supprimé',
	'-3': 'Refusé (votes) ',
	'-2': 'Refusé (admin)',
	'-1': 'En attente (modifs)',
	 0: 'En attente (ajout)',
	 1: 'Validé (admin)',
	 2: 'Validé (votes)',
	 3: 'Ajouté par admin',
	 4: 'Modifié par admin',
	 5: 'Modifié par propriétaire',
	 6: 'Modifié avec lien direct',
	 7: 'Source externe',
	}
%}

{% set userRoles = {
	0: "Anonyme",
	1: 'Anonyme avec mail',
	2: "Utilisateur loggué",
	3: "Admin",
	4: 'Anonyme avec lien'
	}
%}

{% set itemValues = {
	'-2': 'Ne respecte pas la charte',
	'-1': "N'existe pas",
	'0': 'Existe mais infos mauvaises',
	'1': 'Existe',
	'2': 'Existe et valide info'
	}
%}

{% if value and (not value.isResolved or showResolved|default(false))%}
	<div class="panel-heading {{ value.votes|length > 0 ? 'body-content' : ''}}" role="tab" id="heading{{value.id}}" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{value.id}}" aria-expanded="true" aria-controls="collapse{{value.id}}">
		{% if value.isAdminContribution %}
			<div class="small-margin">
					{% set title = (value.type == 4) ? contributionType[value.type] : elementStatus[value.status] %}
					<b>{{ title | upper }}</b>
					par <u>{{ value.getUserDisplayName }}</u>
					<span class="label label-default">{{ userRoles[value.userRole] }}</span>
					<span><i>{{ value.resolvedMessage}}</i><span>
					<div style="float:right">{{ value.updatedAt|date("d/m/Y à H:i")}}</div>
			</div>
		{% else %}
			<div class="small-margin">
					<b>{{ contributionType[value.type] | upper }}</b>
					<span class="label {{ value.status > 0 ? 'label-success' : value.status == 0 ? 'label-warning' : 'label-danger' }}">{{ elementStatus[value.status] }}</span>
					{% if value.resolvedMessage %}<span style="padding:0 10px"><i> {{ value.resolvedMessage}} </i></span>{% endif %}
					{% if value.resolvedBy %}<span>(<u>{{value.resolvedBy }}</u>)</span>{% endif %}

					{% if showResolved|default(false) %}
						<div style="float:right">{{ value.updatedAt|date("d/m/Y à H:i")}}</div>
					{% endif %}
			</div>

			<div class="small-margin">
				Proposé par <u>{{ value.getUserDisplayName }}</u>
				<span class="label label-default">{{ userRoles[value.userRole] }}</span>
				le {{ value.createdAt|date("d/m/Y à H:i")}}
			</div>
		{% endif %}

		{% for post in value.webhookPosts %}
			<span class="label label-default">{{ post.numAttempts }}</span>
		{% endfor %}
	</div>

	  {% if value.votes|length > 0 %}
	    <div id="collapse{{value.id}}" class="panel-collapse collapse {{ showResolved|default(false) ? '' : 'in'}}" role="tabpanel" aria-labelledby="heading{{value.id}}">
    		<div class="panel-body" {% if not showResolved|default(false) %}style="border-top: 1px solid #c4c9cc;padding-top: 5px;"{% endif %}>
					<b style="line-height: 3.5rem;">Votes</b>
					{% for key, vote in value.votes %}
							{% if vote.value is defined %}
								{% set labelClass = vote.value >= 0 ? 'label-success' : 'label-danger' %}
								{% include "admin/partials/display_vote_report_item.html.twig" with {'item': vote} %}
							{% endif %}
					{% endfor %}
				</div>
  		</div>
		{% endif %}

{% endif %}

<style>

div.small-margin { margin-bottom:5px; }

</style>

