{% extends "page-layout.html.twig" %}

{% set pageName = 'element-form' %}
{% set navTitle = "Ajouter un élément" %}

{% block page_stylesheets %}

  <link rel="stylesheet" href="{{ asset('css/element-form.css?ver=' ~ version) }}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

{% endblock %}

{% block title %}
	{% if editMode %} Edition
	{% else %}  Ajouter {{ config.elementDisplayNameIndefinite }}
	{% endif %}
{% endblock %}


{# BODY CONTENT #}
{% block body_content %}

 	{% if config.elementFormIntroText %}<div class="flash-message">{{ config.elementFormIntroText | raw }}</div>{% endif %}

  {% if element.status == 7 %} <div class="flash-message warning">Cet élément a été importé dynamiquement, et pourra donc être écrasé sous peu par une nouvelle version. Il n'est pas très conseillé de l'éditer</div>{% endif %}

  <h1 id="element-form-title">{{ editMode ? 'Modification des données' : "Ajouter " ~ config.elementDisplayNameIndefinite }}</h1>

  {% include "element-form/form.html.twig" with {'editMode': editMode } %}

{% endblock %}

{% block page_javascripts %}

  <script src="{{ asset('js/element-form.js?ver=' ~ version) }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <script>
	  var editMode = false;
	  {% if editMode %} editMode = true; {% endif %}
    var defaultTileLayer = "{{ config.defaultTileLayer.url }}";
	  initMap();
  </script>

{% endblock %}





