{% extends "user/layout.html.twig" %}

{% set pageName = 'user-contributions with-sidebar' %}

{# BODY CONTENT #}
{% block body_user_content %}

  {% set elementStatus = {
    '' : 'En attente',
    '-6': "Doublon",
    '-5': "modified pending",
    '-4': 'Supprimé',
    '-3': 'Refusé (votes) ',
    '-2': 'Refusé (admin)',
    '-1': 'En attente (modifs)',
     0: 'En attente (ajout)',
     1: 'Validé (admin)',
     2: 'Validé (votes)',
     3: 'Ajouté par admin',
     4: 'Modifié par admin',
     5: 'Modifié par propriétaire',
     6: 'Modifié avec lien direct',
     7: 'Source externe',
    }
  %}
  {% set contributionType = {
    '-1': "Suppression",
    0: "Ajout",
    1: 'Modif',
    2: "Vote",
    3: "Signalement",
    4: "Import",
    5: "Restauration",
    6: "Resolution modération"
    }
  %}

  {% block contribution_page %}
  {% endblock %}

{% endblock %}